<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Retrieve these values using the "Keys" blade your Redis Cache account in the Azure Mngt Portal (portal.azure.com) -->
    <add key="redisCacheName" value="TODO - [YOUR Cache Name] eg. test.redis.cache.windows.net"/>
    <add key="redisCachePassword" value="TODO - [YOUR Cache Password]"/>
  </appSettings>
</configuration>
