<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=myphpservice;AccountKey=DgnoLyZ7/5DG74f4BNrKsBwWyHRcmXTl2Je7C04mJ3oafaJwYkeXSdDhl6ih/IKM7ssxJ9ISQnm1wncBYjfS8A==" />
  </appSettings>
</configuration>