<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Retrieve these values using the "Keys" blade your DocumentDB account in the Azure Mngt Portal (portal.azure.com) -->
    <add key="serviceEndpoint" value="TODO - [YOUR ENDPOINT]"/>
    <add key="authKey" value="TODO - [YOUR AUTHKEY]"/>
  </appSettings>
</configuration>
