<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Retrieve these values using the "Keys" blade your DocumentDB account in the Azure Mngt Portal (portal.azure.com) -->
    <add key="serviceEndpoint" value="https://ryancrawcour.documents.azure.com:443/"/>
    <add key="authKey" value="NC4KZ6Lh5/wukMHMunWlFx6qWfjwMV1MIODmu4WfvL9smr1aT05wT2nD/w4+CKY49ljXHmNK6x8+ejMK3k64SQ=="/>
  </appSettings>
</configuration>