<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- By default we are assuming you will use the Azure SDK Storage Emulator. If you have an Azure Subscription then you can and a Storage Account and want to 
         use that then remove the link below and include your storage account name and key in the line below. -->
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[AccountKey]" />-->
  </appSettings>
</configuration>